* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.first{
    background-color:black;
    opacity: 0.8;
}

header {
  height: 64px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
    color:darkorange;
    font-family:serif;
}

.header-left h1{
    font-size:30px;
    padding:0;
    margin:0;
}

.header-left h2{
    font-size: 11px;
    padding:0;
    margin: 0px 40px;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 64px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.3s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.title{
    padding:60px 0px 120px 70px;
    width:100%;
    background-image:url(noodle-kimm-To2FtQEDIAM-unsplash.jpg);
    background-size: cover;
    text-align: left;
    color:cornsilk;
    font-family:inherit;
}
.title h1{
    font-size:90px;
}
.title p{
    display: inline;
    font-size:21px;
    font-style: italic;
}

.zero-wrapper{
    padding:0 40px;
    height:550px;
    
}

.zero-wrapper h2{
    font-size:30px;
    margin-bottom: 10px;
    color:darkcyan;
    border-bottom:1px solid darkcyan;
}

.zero-wrapper img{
    height:360px;
    width:290px;
}

.a{
    float:left;

}

.profile{
    width:35%;
    padding-left:60px;
}


.profile h1{
    margin:0; 
    font-size:25px;
}

.profile ul{
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.explanation{
    width:65%;
    background-color:azure;
}

.explanation h1{
    padding-top: 20px;
    font-size:25px;
}

.explanation p{
    font-size:22px;
    margin: 10px 30px;
}

.first-wrapper{
    height: 500px;
    padding:10px 40px;
}

.first-wrapper h2{
    font-weight: normal;
    font-size:17px;
    padding: 0 15px;
}

.tit{
    font-size:30px;
    color:darkcyan;
    border-bottom:1px solid darkcyan;
}

.contents{
    float:left;
    width:33%;
    padding: 0 30px;
    text-align: center;
}

.second-wrapper{

}

.third-wrapper{

}
